/*문자열설정*/
@charset "utf-8";

/*woff  ------------------------------------------------------------------------- */

@font-face {
  font-family: 'GowunBatang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(GowunBatangRegular.woff2) format('woff2');
}

@font-face {
  font-family: 'GowunBatang'';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(GowunBatangBold.woff2) format('woff2');
}