/*문자열설정*/
@charset "utf-8";

/*woff2  ------------------------------------------------------------------------- */

@font-face{
font-family:'NanumSquareNeoTTF-aLt';
src: url(NanumSquareNeoTTF-aLt.woff2) format('woff2');
}

@font-face{
font-family:'NanumSquareNeoTTF-bRg';
src: url(NanumSquareNeoTTF-bRg.woff2) format('woff2');
}

@font-face{
font-family:'NanumSquareNeoTTF-cBd';
src: url(NanumSquareNeoTTF-cBd.woff2) format('woff2');
}

@font-face{
font-family:'NanumSquareNeoTTF-dEb';
src: url(NanumSquareNeoTTF-dEb.woff2) format('woff2');
}

@font-face{
font-family:'NanumSquareNeoTTF-eHv';
src: url(NanumSquareNeoTTF-eHv.woff2) format('woff2');
}

@font-face{
font-family:'NanumSquareNeo-Variable';
src: url(NanumSquareNeo-Variable.woff2) format('woff2');
}